<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css\website_style.css')}}"> -->
  <title>
    Chatbot
  </title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <div id="center-text">
  <h1 style = "margin-top: -20%; color:initial; font-family: 'Courier New', Courier, monospace; font-size: 50px; color: blue;">Welcome</h1>
  <p> </p>
</div> 
<div class="parallax"></div>

<div style="height:1000px; background-color: cyan;">
  <div class="special"> Hi there! Don't you wanna know about me? </div>
  <br>
  <div style=" font-size: 25px; font-family: Arial, Helvetica, sans-serif;">
    I am a Personal care Chatbot, I can make your life more confortable, you can easily interact with me. You can do some cool stuff with me
  </div>
  <br>
  <div style="text-align: left; font-size: 30px; font-family: Arial, Helvetica, sans-serif; color: blue;">
    How can I be useful to you ?
  </div>
  <div style=" font-size: 25px; font-family: Arial, Helvetica, sans-serif;"">
    Do you want to listen Music or do you want to take a typing test or do you want to shop or do you want to take some yoga class or do you want to read a story, then you are in the right place, I can do all this stuff by taking you to some awesome places, so get ready you can interact with me by clicking on my pop-up button which is in the bottom right corner. You can also have an friendly chat with me.
  </div>
  <br>
  <div style="margin-right: -50%;">
    <img src="{{ url_for('static', filename='assets/music.jpg') }}" width="310" height="300"/>
    <img src="{{ url_for('static', filename='assets/shop.jpg') }}" width="330" height="300"/>
    <img src="{{ url_for('static', filename='assets/story.jpg') }}" width="350" height="300"/>
    <img src="{{ url_for('static', filename='assets/typing.jpg') }}" width="350" height="300"/>
  </div>
  <br>
  <div>
    <img src="{{ url_for('static', filename='assets/yoga.jpg') }}" class="centered"/>
  </div>
  
  
</div>
<div id="body"> 

<div id="chat-circle" class="btn btn-raised">
      <div id="chat-overlay"></div>
      <img style = "margin-top: -37%; margin-left: -30%;" src = "{{ url_for('static', filename='assets/iconr.png') }}"/>
</div>

<div class="chat-box">
  <div class="chat-box-header">
    ChatBot
    <span class="chat-box-toggle"><i class="material-icons">close</i></span>
  </div>
  <div class="chat-box-body">
    <div class="chat-box-overlay">   
    </div>
    <div class="chat-logs"> 
     
    </div><!--chat-log -->
  </div>
  <div class="chat-input">      
    <form>
      <input type="text" id="chat-input" placeholder="Send a message..."/>
    <button type="submit" class="chat-submit" id="chat-submit"><img style = "margin-top: 20%; margin-left: -20%; width: inherit;" src = "{{ url_for('static', filename='assets/send.png') }}"></button>
    </form>      
  </div> 
</div> 
</div> 
<p id="one"> {{data}} </p>  
<script src="{{ url_for('static', filename='js/addon.js') }}"> </script>
<script> 
  $(function() {
  var INDEX = 0; 
  $("#chat-submit").click(function(e) {
    e.preventDefault();
    var msg = $("#chat-input").val(); 
    if(msg.trim() == ''){
      return false;
    }
    generate_message(msg, 'self');
    var buttons = [
        {
          name: 'Existing User',
          value: 'existing'
        },
        {
          name: 'New User',
          value: 'new'
        }
      ];
    setTimeout(function() { 
      var botmsg = document.getElementById('one').value;
      msg = botmsg ;
      generate_message(msg, 'user');  
    }, 1000)
    
  })
  function bot_chat(msg) {
    var text = ["Hi", "hi", "How are you", "hello", "Is anyone there?", "Hello", "Good day", "hello"];
    var good = ["good", "well", "Good", "Well", "WELL", "GOOD"];
    var replies = ["Good to hear!", "That's cool", "That's good"]
    var reply = ["Hello", "Hi there!", "How are you doing", "wass up", "Hey", "Hola", "Good to see you", "Hi, I hope all is well"];
    var result = msg;
    if (msg == "music" || msg == "Music" || msg == "MUSIC") {
      var URL = "https://www.spotify.com/in/";
      var W = window.open(URL);
      W.window.print();
      msg =`I Hope I helped you, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
      return msg;
    }
    else if (msg == "yoga" || msg == "Yoga" || msg == "YOGA") {
      var URL = "https://yogainternational.com/";
      var W = window.open(URL);
      W.window.print();
      msg =`I Hope I helped you, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
      return msg;
    }
    else if (msg == "shop" || msg == "SHOP" || msg == "Shop") {
      var URL = "https://www.amazon.in/";
      var W = window.open(URL);
      W.window.print();
      msg =`I Hope I helped you, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
      return msg;
    }
    else if (msg == "story" || msg == "Story" || msg == "STORY") {
      var URL = "https://storybird.com/";
      var W = window.open(URL);
      W.window.print();
      msg =`I Hope I helped you, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
      return msg;
    }
    else if (msg == "typing" || msg == "Typing" || msg == "TYPING") {
      var URL = "https://www.typingmaster.com/";
      var W = window.open(URL);
      W.window.print();
      msg =`I Hope I helped you, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
      return msg;
    }
    else if (msg == "stop" || msg == "STOP" || msg == "Stop") {
      msg = "I hope I helped you, Bye! Take care :)";
      return msg;
    }
    else if (text.includes(msg)) {
      let randomValue = reply[Math.floor(Math.random() * reply.length)];
      msg = `${randomValue}`;
      return `${msg} I Hope I would be useful to you in so many ways, I can do so many things, Don't you wanna give it a try, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
    }
    else if (good.includes(msg)) {
      let randomValue = replies[Math.floor(Math.random() * replies.length)];
      msg = `${randomValue}`;
      return `${msg} I Hope I would be useful to you in so many ways, I can do so many things, Don't you wanna give it a try, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
    }
    else {
      msg = `Sorry, I didn't get that, I Hope I would be useful to you in so many ways, I can do so many things, Don't you wanna give it a try, please Type any commands below:  MUSIC || YOGA || SHOP || TYPING || STORY or STOP to quit`;
      return msg;
    }
  }
  function generate_message(msg, type) {
    INDEX++;
    var str="";
    str += "<div id='cm-msg-"+INDEX+"' class=\"chat-msg "+type+"\">";
    str += "          <div class=\"cm-msg-text\">";
    str += msg;
    str += "          <\/div>";
    str += "        <\/div>";
    $(".chat-logs").append(str);
    $("#cm-msg-"+INDEX).hide().fadeIn(300);
    if(type == 'self'){
     $("#chat-input").val(''); 
    }    
    $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight}, 1000);    
  }  
  
  function generate_button_message(msg, buttons){    
    /* Buttons should be object array 
      [
        {
          name: 'Existing User',
          value: 'existing'
        },
        {
          name: 'New User',
          value: 'new'
        }
      ]
    */
    INDEX++;
    var btn_obj = buttons.map(function(button) {
       return  "              <li class=\"button\"><a href=\"javascript:;\" class=\"btn btn-primary chat-btn\" chat-value=\""+button.value+"\">"+button.name+"<\/a><\/li>";
    }).join('');
    var str="";
    str += "<div id='cm-msg-"+INDEX+"' class=\"chat-msg user\">";
    str += "          <div class=\"cm-msg-text\">";
    str += msg;
    str += "          <\/div>";
    str += "          <div class=\"cm-msg-button\">";
    str += "            <ul>";   
    str += btn_obj;
    str += "            <\/ul>";
    str += "          <\/div>";
    str += "        <\/div>";
    $(".chat-logs").append(str);
    $("#cm-msg-"+INDEX).hide().fadeIn(300);   
    $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight}, 1000);
    $("#chat-input").attr("disabled", true);
  }
  
  $(document).delegate(".chat-btn", "click", function() {
    var value = $(this).attr("chat-value");
    var name = $(this).html();
    $("#chat-input").attr("disabled", false);
    generate_message(name, 'self');
  })
  
  $("#chat-circle").click(function() {    
    $("#chat-circle").toggle('scale');
    $(".chat-box").toggle('scale');
  })
  
  $(".chat-box-toggle").click(function() {
    $("#chat-circle").toggle('scale');
    $(".chat-box").toggle('scale');
  })
  
})
</script>
</body>
</html>





